@CHARSET "UTF-8";

.noscroll{
		overflow-x:hidden; 
		overflow-y:hidden;
	}
.common-div{
	width:1500px;
	margin-right: 100px;
}
.left-div{
	float: left; 
	width: 65%;
	display:inline;
}
.right-div{
	float: left; 
	display:inline;
	margin-left: 100px;
}
textarea{
	height:80px;
	resize:none;
}
.form-btn{
	width: 300px; 
	margin-top: 10px;
}
.form-dorpdown{
	margin-top: 34px;
}
.right{
	float:right !important;
}
li,a{
	cursor:pointer;
}
.form-header{
	margin-bottom: 50px;
}
.short-input{
	margin-top: -5px;
	width:75px;
	text-align: center;
}